.city {
  margin-top: 5;
  font-size: medium;
}

.region,
.country {
  color: #a5a2a2;
  margin: 0;
  color: #a5a2a2;
  font-size: small;
}

.country {
  margin-bottom: 10px;
}
.weatherDetails {
  background-color: rgb(57, 161, 221);
  color: white;
  font-size: larger;
  border-radius: 10px;
  padding: 5px;
}

h1 {
  font-size: large;
}
