.hour {
  display: flex;
  flex-wrap: wrap;
  /* align-content: stretch; */
}

.hourlyDetails {
  border: solid;
  text-align: center;
  border-color: rgba(161, 155, 155, 0.445);
  border-top: none;
  border-bottom: none;
  border-left: none;
  margin: 5px;
}
