.weatherDetails {
  display: flex;
  gap: 5px;
}
.design {
  border: solid;
  border-color: rgba(160, 155, 155, 0.931);
  text-align: center;
  /* border-style: none solid dotted dashed; */
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.forecast-details {
  margin: 10px;
}

.weatherDetails .design:first-child {
  border: none;
}
